.albumsModule {
  background: rgb(25, 25, 25);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 100px;
  margin-left: 250px;
  margin-right: 200px;
  margin-top: 30px;
}

.playerModule {
  width: 100%;
  height: 85px;
  position: fixed;
  background-color: #292929;
  bottom: 0px; 
  z-index: 10;
}

#horizLine {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(92, 91, 91, 0.404);
  margin: 1em 0;
  padding: 0; 
}

#AppAlbumTitle {
  font-weight: 700;
  font-size: 14pt;
}